<div class="col-md-6">
  <h2>
    Courses
    <%= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe + ' New course', new_course_path, :class => 'btn btn-primary btn-sm' %>
  </h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Teachers</th>
        <th>Students</th>
        <th># assignments</th>
      </thead>
      <tbody>
        <%= render @courses %>
      </tbody>
    </table>
  </div>

  <h2>Assignments</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Course</th>
        <th>Name</th>
        <th>Due date</th>
        <th>Points possible</th>
      </thead>
      <tbody>
        <%= render @assignments %>
      </tbody>
    </table>
  </div>
</div>

<div class="col-md-6">
  <h2>Users</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>ID</th>
        <th>Provider</th>
        <th>uid</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>

  <h2>Responses</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>ID</th>
        <th>Course</th>
        <th>Assignment</th>
        <th>Audio File ID</th>
        <th>Notes</th>
        <th>Score</th>
      </thead>
      <tbody>
        <%= render @responses %>
      </tbody>
    </table>
  </div>
  
</div>
