<%= form_for([@response.assignment.course, @response.assignment, @response]) do |f| %>
  <%= render 'form_errors' %>

  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
