<tr>
  <td><%= if response.assignment then link_to response.id, [response.assignment.course, response.assignment, response] else response.id end %></td>
  <td><%= response.try(:assignment).try(:course).try(:name) %></td>
  <td><%= response.try(:assignment).try(:name) %></td>
  <td><%= response.audio_file_id %></td>
  <td><%= response.notes %></td>
  <td><%= response.score %></td>
</tr>
