<% breadcrumb :response, @response %>

</div><!-- /.container -->

<div class="well">
  <%= content_tag :div, { :id => 'main_sound_file',
                          :class => 'soundfile-player', 
                          :'data-annotation-list-src' => polymorphic_path([@response.assignment.course, @response.assignment, @response, :annotations], format: :json), 
                          :'data-audio-src' => polymorphic_path(@response.audio_file, format: :ogg) } do %>
    <span id="play">Play</span>
    <span id="pause">Pause</span>
  <% end %>
  </div>

<div class="container">

<div class="col-md-7">
  <h2>Teachers&rsquo;s annotations</h2>
  <div class="list-group">
    <%= render @response.annotations %>
  </div>
  <%= link_to 'Add annotation', new_polymorphic_path([@response.assignment.course, @response.assignment, @response, :annotation]) %> |
  <%= link_to 'Edit', edit_course_assignment_response_path(@response.assignment.course, @response.assignment, @response) %> |
  <%= link_to 'Back', [@response.assignment.course, @response.assignment, @response] %>
</div>

<div class="col-md-5">
  <h2>Grade</h2>
  <%= render 'score' %>
</div>
