<% breadcrumb :response, @response %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Assignment:</strong>
  <%= @response.assignment_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @response.user_id %>
</p>

<p>
  <strong>Audio file:</strong>
  <%= @response.audio_file_id %>
  <%= content_tag :div, { :id => 'main_sound_file',
                          :class => 'soundfile-player', 
                          :'data-annotation-list-src' => polymorphic_path([@response.assignment.course, @response.assignment, @response, :annotations], format: :json), 
                          :'data-audio-src' => polymorphic_path(@response.audio_file, format: :audio_file) } do %>
    <span id="play">Play</span>
    <span id="pause">Pause</span>
  <% end %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @response.notes %>
</p>

<p>
  <strong>Teacher&rsquo;s comments:</strong>
</p>

<ul>
  <%#= render @response.annotations, locals: {response: @response} %>
</ul>

<%= link_to 'Add annotation', new_polymorphic_path([@response.assignment.course, @response.assignment, @response, :annotation]) %> |
<%= link_to 'Edit', edit_course_assignment_response_path(@response.assignment.course, @response.assignment, @response) %> |
<%= link_to 'Back', [@response.assignment.course, @response.assignment, @response] %>
