<% breadcrumb :response, @response %>

</div><!-- /.container -->

<div class="player">
  <div class="well">
    <%= content_tag :div, { :id => 'main_sound_file',
                            :class => 'soundfile-player', 
                            :'data-annotation-list-src' => polymorphic_path([@response.assignment.course, @response.assignment, @response, :annotations], format: :json), 
                            :'data-audio-src' => polymorphic_path(@response.audio_file, format: :ogg) } do %>
    <% end %>
  </div>

  <div class="control">
    <button type="button" class="btn btn-primary play-pause-button">
      <div class="play-button">
        <span class="glyphicon glyphicon-play"></span>
        Play
      </div>
      <div class="pause-button">
        <span class="glyphicon glyphicon-pause"></span>
        Pause
      </div>
    </button>
    <button type="button" class="btn btn-default stop-button">
      <span class="glyphicon glyphicon-stop"></span>
      Stop
    </button>
  </div>
</div>

<hr>

<div class="container">

<div class="col-md-7">
  <h2>
    Teachers&rsquo;s annotations
    <%= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe + ' New annotation', new_polymorphic_path([@response.assignment.course, @response.assignment, @response, :annotation]), :class => 'btn btn-primary btn-sm' if current_user.teacher_of?(@response.assignment.course) %>

  </h2>
  <div id="annotations" class="list-group">
    <% @response.annotations.each do |annotation| %>
      <%= content_tag :a, options = { :class => 'annotation-item list-group-item', :data => { :'start-second' => annotation.start_second }, :role => :button } do %>
        <p class="list-group-item-text">
          <%= annotation.start_second %>&ndash;<%= annotation.end_second %>
          <span class="play-icon pull-right">
            <span class="glyphicon glyphicon-play"></span>
          </span>
        </p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="col-md-5">
  <h2>Grade</h2>
  <%= render 'score' %>
</div>
