<%= form_for(@audio_file) do |f| %>
  <% if @audio_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audio_file.errors.count, "error") %> prohibited this audio_file from being saved:</h2>

      <ul>
      <% @audio_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wav_name %><br>
    <%= f.text_field :wav_name %>
  </div>
  <div class="field">
    <%= f.label :ogg_name %><br>
    <%= f.text_field :ogg_name %>
  </div>
  <div class="field">
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :convert_tries %><br>
    <%= f.number_field :convert_tries %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
