<% breadcrumb :course, @course %>

<div class="page-header">
  <h1><%= @course.name %> <small>Taught by <%= name_list @course.teachers %></small></h1>
</div>

<div class="col-md-9">
  <h2>
    Assignments
    <%= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe + ' New assignment', new_course_assignment_path(@course), :class => 'btn btn-primary btn-sm' if current_user.teacher_of? @course %>
  </h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Due Date</th>
        <th>Points</th>
      </thead>
      <tbody>
        <% @course.assignments.most_recent_first.each do |assignment| %>
          <tr>
            <td><%= link_to assignment.name, [assignment.course, assignment] %></td>
            <td><%= assignment.due_date %></td>
            <td><%= assignment.try(:points_possible) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="col-md-3">
  <% if current_user.teacher_of? @course %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Links for teachers</h3>
      </div>
      <div class="list-group">
        <%= link_to '<span class="glyphicon glyphicon-pencil"></span> '.html_safe + 'Edit course', edit_course_path(@course), class: 'list-group-item' %>
      </div>
    </div>
  <% end %>
</div>
