<%= bootstrap_form_for([@annotation.response.assignment.course, @annotation.response.assignment, @annotation.response, @annotation]) do |f| %>
  <% unless defined? hide_recorder %>
    <div id="audio_file" class="field">
      <%= render 'shared/recorder', locals = { :blob_field_name => 'annotation[audio_file_io]' } %>
    </div>
  <% end %>

  <%= f.text_field :start_second %>
  <%= f.text_field :end_second %>
  <%= f.text_area :notes %>
  <%= f.primary %>
<% end %>
